
<!-- </div> -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th class="d-flex justify-content-between" colspan="2">
                Name
                <input type="text">
            </th>
            <th>Birthday</th>
            <th>Gender </th>
            <th>Phone number</th>
            <th>Address</th>
            <th>Class</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of studentList; let i=index">
            <!-- <td>{{item.productName}}</td> -->
            <td>{{i+1}}</td>
            <td >{{item.name}}</td>
            <td>{{item.birthday}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.sdt}}</td>
            <td>{{item.address}}</td>
            <td>{{item.class}}</td>
            <!-- <td>{{item.starRating}}</td> -->
            <td>
                <button class="btn">
                    <span class="badge rounded-pill text-bg-primary" data-toggle="modal" data-target="#ModalId"
                        (click)="IsAdd=0;IsUpdate=2" (click)="Edit(i)">Edit</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="ModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Student</h5>
                <button type="button" class="close" data-dismiss="modal" arialabel="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formStudent">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" [formControl]="formStudent.controls.name" name="" id=""
                                    class="form-control" placeholder="" ariadescribedby="helpId">
                                <!--<small id="helpId" class="text-muted">Help text</small>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Gender</label>
                                <input type="text" [formControl]="formStudent.controls.gender" name="" id=""
                                    class="form-control" placeholder="" ariadescribedby="helpId">
                                <!--<small id="helpId" class="text-muted">Help text</small>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Birthday</label>
                                <input type="date" [formControl]="formStudent.controls.birthday" name="" id=""
                                    class="form-control" placeholder="" ariadescribedby="helpId">
                                <!--<small id="helpId" class="text-muted">Help text</small>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Phone number</label>
                                <input type="text" [formControl]="formStudent.controls.sdt" name="" id=""
                                    class="form-control" placeholder="" ariadescribedby="helpId">
                                <!--<small id="helpId" class="text-muted">Help text</small>-->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Class</label>
                                <input type="text" [formControl]="formStudent.controls.class" name="" id=""
                                    class="form-control" placeholder="" ariadescribedby="helpId">
                                <!--<small id="helpId" class="text-muted">Help text</small>-->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Address</label>
                                <input type="text" [formControl]="formStudent.controls.address" name="" id=""
                                    class="form-control" placeholder="" ariadescribedby="helpId">
                                <!--<small id="helpId" class="text-muted">Help text</small>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="IsAdd==1" (click)="Add()">Save</button>
                <button type="button" class="btn btn-primary" *ngIf="IsUpdate==2" (click)="Update()">Save Update
                </button>
                <button type="button" class="btn btn-secondary" (click)="IsAdd=1;IsUpdate=0"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>