<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="box" *ngIf="userInfo">
                <ul>
                    <li>
                        <h5>Thông tin cá nhân</h5>
                        <h2>{{userInfo.name}}</h2>
                    </li>
                    <li>
                        <h5>Vai trò</h5>
                        <h2>Giảng viên môn: {{userInfo.subject}}</h2>
                    </li>
                    <li>
                        <h5>Lớp hiện tại</h5>
                        <h2>{{userInfo.class}}</h2>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 col-6 bg-white">
                    <i class="bi bi-arrow-left-circle"></i>
                    <p>a</p>
                </div>
                <div class="col-md-12 col-6 bg-white">
                    <i class="bi bi-arrow-left-circle"></i>
                    <!-- <a class="nav-link" (click)="logout()" routerLink="/Logout" href="#">Logout</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
